div.frame {
  border-style: solid;
  border-color: #0099ff #0000aa;
  border-width: 1px;
  overflow: scroll;
  height: 150px;
/*  width: 500px;*/
}

div.logInfo {
  color: gray;
}
div.logMessage {
  color: darkgreen;
}
div.logWarning {
  background-color: orange;
}
div.logError {
  color: white;
  background-color: red;
}
