div.procedure {
  border-style: solid;
  border-width: 1px;
  border-color: gray;
}

span.nameOld {
  border-style: solid;
  border-width: 1px;
  border-color: gray;
}

span.name {
  font-weight: bold;
  font-size: 30px;
}

.vcenter {
    vertical-align: middle;
/*    display: inline-block;

    float: none;
*/}
