<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"><span class="name">{{name}}</span></div>
    <div class="panel-body">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 vcenter">
            <div class="short-div input-group">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" (click)="subscribe()">Subscribe</button>
              </span>
            </div><!-- /input-group -->
            <div class="short-div input-group">
              <input type="text" class="form-control" [(ngModel)]="publishPayload" placeholder="Payload">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" (click)="publish()">Publish</button>
              </span>
            </div><!-- /input-group -->
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <app-msglist [messages]="log"></app-msglist>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
